@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightseagreen;
    font-weight: bold;
}
main {
    height: 100vh;
    width: calc(100% - 250px);
    overflow-y: auto;
}

.navbar {
    height: 100vh;
    width: 250px;
    align-items: flex-start;

    .container {
        flex-direction: column;
        align-items: flex-start;
        .navbar-collapse {
            flex-direction: column;
            width: 100%;
            .navbar-nav {
                flex-direction: column;
                width: 100%;
                .nav-item.dropdown {
                    width: 100%;
                    .dropdown-menu {
                        width: 100%;
                        position: static;
                        border: none;
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }
    }
}

.delete-icon {
    background-color: transparent;
    border: none;
}
